unless _.isEmpty(resume.projects)

  .detail#projects
    .icon
      i.fs-lg.icon-office
      span.mobile-title Projects

    .info
      h4.title.text-uppercase Projects&nbsp;&nbsp;&nbsp;

        button.btn.btn-default.btn-sm.btn-circle-sm.js-projects-collapse(
        data-toggle="collapse",
        data-target="#projects-list")
          i.icon-chevron-down.fs-lg

      #projects-list.ul.list-unstyled.clear-margin.collapse
        each experience in resume.projects
          li.card.card-nested.clearfix
            .content
              p.clear-margin.relative
                if !experience.endDate
                  i.icon-circle.current-event(
                    rel="tooltip",
                    title="Currently Working",
                    data-placement="left"
                  )
                strong= experience.name
                |,&nbsp;
                if experience.website
                  a(href=experience.website, target="_blank")= experience.entity
                else
                  |#{experience.entity}

              p.clear-margin.text-muted
                small
                  span.space-right
                    |#{experience.startDate} - #{experience.endDate || 'Present'}

                  if experience.duration
                    span
                      i.icon-clock.mr-5
                      |#{experience.duration}

                unless _.isEmpty(experience.type)
                  small
                    p.space-right.text-muted
                      |#{experience.type}

              unless _.isEmpty(experience.roles)
                .labels
                  each role in experience.roles
                    span.label.label-role= role
                .space-top

              .mop-wrapper.space-bottom!= experience.description

              unless _.isEmpty(experience.highlights)
                ul
                  each highlight in experience.highlights
                    li.mop-wrapper!= highlight

              unless _.isEmpty(experience.responsabilities)
                .space-top
                  |Responsabilities:
                .clear-margin
                .mop-wrapper.space-bottom!= experience.responsabilities

              unless _.isEmpty(experience.technologies)
                |Technologies:
                .labels
                  each technology in experience.technologies
                    span.label.label-keyword= technology
                .space-top

              //unless _.isEmpty(experience.moreTechnologies)
              //  |Other technologies:
              //  .labels
              //    each technology in experience.moreTechnologies
              //      span.label.label-keyword= technology

              unless _.isEmpty(experience.keywords)
                |Keywords:
                .labels
                  each keyword in experience.keywords
                    span.label.label-business= keyword
                .space-top

